<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="IT, Technology, online business, Ecommerce, Digital Marketing">
		<meta name="description" content="Gain Infinity - Hosting Service for all kinds of IT, Technology, online business, Ecommerce, Digital Marketing">
      	<meta property="site_name" content="Gain Infinity">
      	<meta property="type" content="website">
      	<meta property="title" content="Gain Infinity - Digital Marketing">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#6dbfb8">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#6dbfb8">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#6dbfb8">
		<title>Gain Infinity - Digital Marketing Agency</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="72x33" href="images/fabicon.png">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" media="all">
	</head>

	<body>
		<div class="main-page-wrapper">
			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="preloader">
				<div id="preloader" class="preloader">
					<div class="animation-preloader">
					  <h1>GAIN INFINITY</h1>
					</div>	
				</div>
			</div>
			<!--=========================header html start  1=================================  -->
			<div class="theme-main-menu sticky-menu theme-menu-one theme-menu-two tran5s wow fadeInUp">
				<div class="inner-content">
					<div class="d-flex align-items-center justify-content-between">
						<div class="d-flex logo order-lg-0"><a href="" class="d-block"><img src="{{ url_for('static', filename='images/logo/logo.png') }}" alt=""></a></div>
						<div class="right-wiget ms-auto d-lg-flex align-items-center justify-content-center order-lg-3 ">
							 <div class="search-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><a href="#"><img src="{{ url_for('static', filename='images/icon/search.svg') }}" alt=""></a></div>
							 <div class="grid-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><a href="#"><img src="{{ url_for('static', filename='images/icon/grid.svg') }}" alt=""></a></div>
							<div class=""><a class="custom-btn-one" href="{{ url_for ('contact') }}">Contact Us</a></div>
						</div>
						 <!-- ================================================
						                      nav bar start
					     ================================================ -->
						<div class="left-wiget me-auto">
							<nav class="navbar navbar-expand-lg order-lg-2">
							  <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<span></span>
							  </button>
							  <div class="collapse navbar-collapse" id="navbarNav">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('index') }}">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('about_us') }}">About Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('case') }}">Portfolio</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('service') }}">Services</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
									</li>
								</ul>
								<div class="right-wiget md-mt-30 d-flex align-items-center order-lg-3 d-lg-none">
									<div class="">
										<a class="custom-btn-one position-relative" href="{{ url_for('contact') }}">Contact Us</a>
									</div>
								</div>
							</div>

						    </nav>
						</div>
							<!-- //header nav  -->
						  <!-- ================================================
						                      nav bar ends
					================================================ -->
					</div>
			    </div>
			</div>

			<!-- =======================header html end===================================== -->

			<!-- ==========================top aside start ==================================================-->
			<div class="top-aside tran3s wow fadeInUp">
				<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTop">
					<div class="offcanvas-header">
						<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<div class="search-wrap">
							<form>
								<input type="text" class="main-search-input" placeholder="Search Your Keyword...">
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- RIGHT GRID  ASIDE -->
			<div class="right-aside tran3s wow fadeInUp">
				<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRight">
					<div class="offcanvas-header">
						<div class="d-flex logo order-lg-0"><a href="" class="d-block"><img src="images/logo/logo.png" alt=""></a></div>
					  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-square-fill"></i></button>
					</div>
					<div class="offcanvas-body">
						<div class="info-widget">
							<h6 class="color-two mb-20">About Us</h6>
							<p class="mb-30">
								We work with forward-thinking companies to craft and produce impactful solutions through website & mobile app experiences.
								You will work closely with skilled Dolor in reprehenderit in voluptate velit esse cillum.
							</p>
						</div>
						<div class="info-widget info-widget2">
							<h6 class="color-two mb-20">Contact Us</h6>
							<p>
								<i class="bi bi-geo-alt"></i>
								3739 Balboa Street, San Francisco, CA 94121</p>
							<p>
								<i class="bi bi-telephone"></i>
								+0989 7876 9865 9
							</p>
							<p>
								<i class="bi bi-envelope-open"></i>
								hello@templatemr.com
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- RIGHT GRID  ASIDE -->
            <!-- ==========================aside start ==================================================-->

			<!--================================banner section start ===========================  -->
            <div class="banner-about blog-banner tran5s wow fadeInUp">
                <div class="container pt-200 pb-180 md-pt-120 md-pb-50">
                    <div class="row d-flex align-items-center">
                        <div class="text-center">
							<p class="para-one mb-20">5 marketing strategies to fuel your business growth </p>
                            <h3 class="h3 mb-30 fw-700 position-relative">5 marketing strategies to fuel your business growth </h3>
							<div class="d-flex align-items-center justify-content-center">
								<div class="name">
									<img src="{{ url_for('static', filename='images/blog/blog_14.png') }}" alt="">
									<span class="pl-10 fs-14 fw-400"> Chiamaka Joyce Nzeako</span>
								</div>
								<div class="divider"></div>
								<div class="data">
									<img src="{{ url_for('static', filename='images/icon/calendar.svg') }}" alt="" class="">
									<span class="pl-10 fs-14 fw-400">22 September 2022</span>
									<img src="{{ url_for('static', filename='images/icon/comment.svg') }}" alt="" class="pl-10">
									<span class="pl-10 fs-14 fw-400">
										{{ comments|length }} Comment{{ '' if comments|length == 1 else 's' }}
									</span>
								</div>						
							</div>
                        </div>
                    </div>
                </div>
            </div>
			<!--================================banner section end ===========================  -->

			<!--================================blog-page start ===========================  -->
			<div class="blog-page blog-details tran5s wow fadeInUp">
				<div class="blog-page-rapper pt-90 pb-120 md-pt-40 md-pb-40">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="card"><img src="{{ url_for('static', filename='images/blog/marketingstrategies.png') }}" alt=""></div>
								<div class="main_left">
									<div class="left-one mb-40 position-relative">
										<div class="mb-40">
											<p class="">
												Marketing strategies are a set of plans and methods which are aimed at achieving a high level
												 of returns in the business with a limited allocation of resources. It deals with an increased level of
												 sales and output. The major aim of market strategy is to achieve a dominant effect in the marketplace. The dominant effect implies high sales and revenue for the company.
											</p>
										</div>
										<div class="mb-40">
											<p class="">
												Building a business from scratch can be discouraging especially if you are a solopreneur. 
												To build a strong lasting business you need to concentrate on implementing key strategies 
												that will help the business grow. Marking out the marketing strategies to implement is not only wise but efficient.
												The business gets to thrive and even surpass that of your competitors. Effective planning, 
												therefore, is a must. Knowing the right marketing strategy to apply is important.


											</p>
										</div>
										<div class="mb-40">
											<h6 class="h6 fw-700">Take advantage of social media</h6>
										</div>
										<div class="mb-40">  
											<p class="">
												Everything happens online now and is visible <a href="https://marketinginsidergroup.com/content-marketing/why-social-media-is-important-for-business-marketing/">online.</a> Before, people buy any product from the market now they search google. 
												People check the internet for reviews now and then. You cannot grow or market your product without using social media.
												Take the opportunity you have now and showcase your product. Post and share everything related to the products and services you render.

											</p>
										</div>
										<div class="mb-40">
											<h6 class="h6 fw-700">Get Connected with influencers</h6>
										</div>
										<div class="mb-40">
											<p class="">
												For every product and service, there is a particular personal brand that can help you market your product easily.
												An influencer may not be one with a large following but one known for a particular thing. Also, create brand
												themes and songs unique to your brand. The right influencer will spread the message of your brand abroad.
												Attracting more people to buy your product. You must leverage this even more than Ads. 
											</p>
										</div>
										<div class="mb-40">
											<h6 class="h6 fw-700">Create a blog for your products</h6>
										</div>
										<div class="mb-40">
											<p class="">
												People tend to forget a lot in this present time. A blog acts as a general reminder of your product. 
												As you spend time educating them through the use of the content you build up their curiosity and awareness 
												of your product. Blogging is an indirect way of screaming to get my products to your audience. They immediately use you as a solution to their problem. He has authority..
											</p>
										</div>
										<div class="mb-40">
											<h6 class="h6 fw-700">Teach people</h6>
										</div>
										<div class="mb-40">
											<p class="">
												You grow your business faster when you impact your skills on others. Teaching people requires you to
												learn people skills. Spend time educating them about their needs then gradually insert your product 
												as the only solution to the problem. To teach them to use content in different formats text or visuals. 
												Just make sure to feed their appetite with the right words and context. Focus on them and begin to 
												benefit from them. Keep in mind that your focus is the people.
											</p>
										</div>
										<div class="mb-40">
											<h6 class="h6 fw-700">Research about the market</h6>
										</div>
										<div class="mb-40">
											<p class="">
												Every product and service has a particular audience it is meant for. Taking time to research the market
												is very important. Before creating a particular product one must identify the people in that area, the
												dominant age group, and the active population. Build a product that will not just be a waste of time 
												and effort. People are in need but every individual has a unique need. Make sure your product is 
												relevant and valuable to the active population.
											</p>
										</div>
										<div class="mb-40">
											<h6 class="h6 fw-700">Conclusion</h6>
										</div>
										<div class="mb-40">
											<p class="">
												Applying the right market strategy will not only help your brand but give it an edge over others.
												Marketing strategies listed here are many, take out time to make qualitative research on the one 
												with the greatest effect on your brand. It is advisable to use a combination of two or more of 
												these market strategies to achieve the greatest desire for your business which sells. 
											</p>

										</div>
									</div>
									<div class="left-two mb-70">
										<div class="border"></div>
										<div class="res_show mt-30 mb-30 d-flex align-items-center justify-content-between">
											<div class="taq d-flex align-items-center sm-mb-30">
												<span>Tag :</span>
												<div class="taq-list pl-40 sm-mt-20">
													<a href="">Business</a> ,
													<a href=""> Business Growth </a> ,
													<a href="">Marketing</a>
												</div>
											</div>
											<div class="social"> 
												<ul>
													<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
													<li><a href=""><i class="fab fa-instagram"></i></a></li>
													<li><a href=""><i class="fab fa-twitter"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="border"></div>
									</div>
									<div class="left-three d-flex">
										<div class=""><img src="{{ url_for('static', filename='images/blog/blog_16.png') }}" alt="" class="rounded"></div>
										<div class="pl-40">
											<h6 class="mb-10"> Chiamaka Joyce Nzeako</h6>
											<span class="">Author</span>
										</div>

									</div>
									<div class="left-five">
										<!-- Comment Form -->
										<h6 class="h6 fw-700 mt-40 mb-20">Leave a Comment</h6>
										<form action="{{ url_for('add_comment') }}" method="POST" class="mb-40">
											<input type="hidden" name="post_id" value="{{ post_id }}">
											<input type="hidden" name="parent_id" class="parent-id-field" value="">
											<div class="mb-20">
												<input type="text" name="name" placeholder="Name*" required class="form-control">
											</div>
											<div class="mb-20">
												<input type="email" name="email" placeholder="Email*" required class="form-control">
											</div>
											<div class="mb-20">
												<textarea name="comment" placeholder="Comment*" required class="form-control"></textarea>
											</div>
											<button type="submit" class="custom-btn-one">Submit Comment</button>
										</form>

										<!-- Display Existing Comments -->
										<h6 class="h6 fw-700 mt-40 mb-40">{{ comments|length }} Comment{{ '' if comments|length == 1 else 's' }}</h6>

										{% for c in comments %}
									<div class="left-four d-flex justify-content-between align-items-start mb-20">
										<!-- Avatar -->
										<div class="d-flex">
											<div>
												<img src="{{ url_for('static', filename='images/blog/blog_17.png') }}" alt="" class="rounded">
											</div>

											<!-- Comment Content -->
											<div class="pl-20">
												<h6 class="mb-5">{{ c.name }}</h6>
												<span>{{ c.created_at.strftime('%d %B %Y') if c.created_at else '' }}</span>
												<p class="mt-10 mb-0">{{ c.comment }}</p>
											</div>
										</div>

										<!-- Reply button on the far right -->
										<!-- <div class="ml-auto">
											<a href="#" class="reply-btn">Reply</a>
										</div> -->
									</div>

									<!-- Line right below comment with no big gap -->
									<div class="border mb-20"></div>
									{% endfor %}

									</div>

									<!-- <h6 class="h6 fw-700 mt-40 mb-40">2 Comment</h6>
									<div class="left-four d-flex mb-40">
										<div class=""><img src="{{ url_for('static', filename='images/blog/blog_17.png') }}" alt="" class="rounded"></div>
										<div class="pl-20">
											<h6 class="mb-10">Mahfuz Riad</h6>
											<span class="">30 August 2023</span><span class="pl-20">7:50pm</span>
											<p class="mt-20 mb-20">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in que usually all we need</p>
										</div>
										<div class=""><a href="">Reply</a></div>
									</div>
									<div class="border mb-40"></div>
									<div class="left-four d-flex mb-40">
										<div class=""><img src="{{ url_for('static', filename='images/blog/blog_18.png') }}" alt="" class="rounded"></div>
										<div class="pl-20">
											<h6 class="mb-10">Mahfuz Riad</h6>
											<span class="">30 August 2023</span><span class="pl-20">7:50pm</span>
											<p class="mt-20 mb-20">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in que usually all we need</p>
										</div>
										<div class=""><a href="">Reply</a></div>
									</div>
									<div class="border"></div>
									<h6 class="h6 fw-700 mt-40 mb-40">Leave A Comment</h6>
									<div class="left-five">
										<form action="{{ url_for('add_comment') }}" method="POST">
											<input type="hidden" name="post_id" value="{{ post_id }}">
											<input type="text" name="name" placeholder="Name*" required>
											<input type="email" name="email" placeholder="Email*" required>
											<textarea name="comment" placeholder="Comment*" required></textarea>
											<button type="submit">Submit</button>
										</form>
										{% for c in comments %}
											<p><strong>{{ c.name }}</strong>: {{ c.comment }}</p>
										{% endfor %}

										<div class=""><a href="" class="custom-btn-one">Submit a Comment</a></div>
									</div> -->
									<div class="left-six d-flex align-items-center mt-30">
										<input type="checkbox">
										<p class="pl-20">Save my name, email, and website in this browser for the next time I comment.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="right-blog">
									<div class="blog-search mb-40">
										<form class="search-form position-relative d-flex align-items-center">
											<a href=""><img src="images/icon/search-02.svg" alt=""></a>
											<input type="text" placeholder="Search">
										</form>
									</div>
									<div class="blog-categ mb-30">
										<h6 class="h6 fw-700 mb-30">Categories:</h6>
										<ul>
											<li class="d-flex align-items-center justify-content-between"><span class="">Buisness</span><span>(7)</span></li>
											<li class="d-flex align-items-center justify-content-between"><span class="">SEO</span><span>(1)</span></li>
											<li class="d-flex align-items-center justify-content-between"><span class="">Marketing</span><span>(2)</span></li>
										</ul>
									</div>
									<div class="blog-post mb-40">
										<h6 class="h6 fw-700">Latest Post:</h6>
													<div class="post-one mb-30 d-flex align-items-center">
														<!-- Updated image path -->
														<div class=""><img src="{{ url_for('static', filename='images/blog/blog_11.png') }}" alt=""></div>
														<div class="">
															<p class="mb-10">22 Sept. 2022</p>
															<h6 class=""><a href="{{ url_for('branding_starts_with_the_people_close_to_you') }}">Branding, Starts with the People Close to You</a></h6>
														</div>
													</div>
													<div class="post-one mb-30 d-flex align-items-center">
														<!-- Updated image path -->
														<div class=""><img src="{{ url_for('static', filename='images/blog/blog_12.png') }}" alt=""></div>
														<div class="">
															<p class="mb-10">22 Sept. 2022</p>
															<h6 class=""><a href="{{ url_for('reasons_why_your_business_needs_a_website') }}">5 reasons why your business needs a website</a></h6>
														</div>
													</div>
													<div class="post-one mb-30 d-flex align-items-center">
														<!-- Updated image path -->
														<div class=""><img src="{{ url_for('static', filename='images/blog/blog_13.png') }}" alt=""></div>
														<div class="">
															<p class="mb-10">20 Sept. 2022</p>
															<h6 class=""><a href="{{ url_for('marketing_strategies') }}">5 marketing strategies to fuel your business growth</a></h6>
														</div>
													</div>
												</div>
												<div class="blog-taq">
													<h6 class="h6 fw-700 mb-30">Tags:</h6>
													<div class="tag_one">
														<a href="#" class="">Brand</a>
														<a href="#" class="">Brand Identity</a>
														<a href="#" class="">Branding</a>
														<a href="#" class="">Business</a>
														<a href="#" class="">Business Growth</a>
														<a href="#" class="">Consumer</a>
														<a href="#" class="">Design</a>
														<a href="#" class="">Ecommerce</a>
														<a href="#" class="">Keyword</a>
														<a href="#" class="">Logo</a>
														<a href="#" class="">Marketing</a>
														<a href="#" class="">SEO</a>
														<a href="#" class="">Website</a>
													</div>
												</div>
											</div>
										</div>
						</div>
					</div>
				</div>
			</div>
			<!--================================blog-page end ===========================  -->

			<!--================================ Footer start ===========================  -->
			<footer class="footer tran5s wow fadeInUp">
				<div class="footer_wapper pt-40 md-pt-20 pb-10">
					<div class="container">
					<div class="footer_content">
						<div class="row text-center text-lg-start">
						<div class="col-lg-2 mb-3 mb-lg-0 d-flex align-items-center justify-content-start">
							<div class="footer_logo ms-lg-0 ms-2">
							<a href=""><img src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="Logo"  class="img-fluid"></a>
							</div>
						</div>
						<div class="col-lg-2 mb-3 mb-lg-0 d-flex align-items-center justify-content-center">
							<div>
							<p class="mb-1 fw-bold">Phone</p>
							<p class="mb-0">+234 (0)70 4735 0000</p>
							</div>
						</div>
						<div class="col-lg-3 mb-3 mb-lg-0 d-flex align-items-center justify-content-center">
							<div>
							<p class="mb-1 fw-bold">Email</p>
							<p class="mb-0"><a class="email-link" href="mailto:info@gaininfinity.com">info@gaininfinity.com</a></p>
							</div>
						</div>
						<div class="col-lg-2 mb-3 mb-lg-0 d-flex align-items-center justify-content-center">
							<div>
							<p class="mb-1 fw-bold">London Office</p>
							<p class="mb-0">107 Burdett Road, London E3 4JN.</p>
							</div>
						</div>
						<div class="col-lg-3 mb-3 mb-lg-0 d-flex align-items-center justify-content-center">
							<div>
							<p class="mb-1 fw-bold">Africa Office</p>
							<p class="mb-0">Suite C9, Plot BDS1 Silver Mall Plaza, Abuja, Nigeria</p>
							</div>
						</div>
						</div>
						<div class="row mt-3">
						<div class="col-12">
							<ul class="footer-links d-flex justify-content-center flex-wrap" style="gap: 24px; list-style: none; padding: 0; margin: 0;">
							<li><a href="{{ url_for ('about_us') }}">About us</a></li>
							<li><a href="{{ url_for ('contact')}}">Meet our team</a></li>
							<li><a href=" {{ url_for ('case') }}">Case stories</a></li>
							<li><a href="{{url_for('about_us')}}">Faq</a></li>
							<li><a href="{{ url_for ('contact')}}">Contact</a></li>
							</ul>
						</div>
						</div>
						<div class="row mt-3">
						<div class="col-12 d-flex justify-content-center">
							<ul class="d-flex" style="gap: 14px; list-style: none; padding: 0; margin: 0;">
							<li><a href="https://www.facebook.com/gaininfinity1/"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://www.instagram.com/gaininfinity1/"><i class="fab fa-instagram"></i></a></li>
							<li><a href=""><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://www.linkedin.com/company/gaininfinity1/"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href=""><i class="fab fa-threads"></i></a></li>
							</ul>
						</div>
						</div>
						<div class="row mt-3">
						<div class="col-lg-12 text-center text-lg-center md-mb-10"><p>Powered by Gain Infinity 2025 </p></div>
						</div>
					</div>
					</div>
				</div>
				</footer>
			<div id="whatsapp-float">
				<a href="https://wa.me/message/5GWZXWOCERUWH1" target="_blank" rel="noopener" class="wa-link">
					<div class="wa-bubble">
						<img src="{{ url_for('static', filename='images/icon/whatsapp.png') }}" alt="WhatsApp" class="wa-icon" />
						<span class="wa-text">Let's talk</span>
					</div>
				</a>
			</div>

			<!-- ============================== Footer end    ============================ -->
			<button class="scroll-top">
				<i class="bi bi-arrow-up-short"></i>
			</button>


		<!-- Optional JavaScript   -->

    	<!-- jQuery first, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="{{ url_for('static', filename='vendor/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/circle-progress.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/slick/slick.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/jquery.counterup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/jquery.sidebar.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/jquery.waypoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/nice-select/jquery.nice-select.min.js') }}"></script>
		<script src="{{ url_for('static', filename='vendor/wow.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
		<script>
		document.addEventListener('click', function(event) {
		var navbarCollapse = document.getElementById('navbarNav');
		var navbarToggler = document.querySelector('.navbar-toggler');
		if (
			navbarCollapse.classList.contains('show') &&
			!navbarCollapse.contains(event.target) &&
			!navbarToggler.contains(event.target)
		) {
			var collapseInstance = bootstrap.Collapse.getInstance(navbarCollapse);
			if (collapseInstance) {
			collapseInstance.hide();
			}
		}
		});
		</script>
</html>
